*{
    margin: 0;
    padding: 0;
    box-sizing:content-box;

}

body {
    background-image: url('https://wallpapercave.com/wp/wp3964454.png');
    background-color: #d9d9d9; /* Color de respaldo si la imagen no se carga */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

header {
    display: flex;
    justify-content: center;
    width: 100%;
    
}


h1 {
    
    color: #f3f3f3;
    padding: 1em;
    width: 9em;
    text-align: center;
    font-size: 6em;
    font-family: "Jost", sans-serif;
    font-style: normal;
    
}

h1:hover{
    text-shadow: 0 0 10px #fff8;
}

h2 {
    color: #f3f3f3;
    padding: 1em;
    text-align: center;
    font-size: 2em;
    font-family: "Jost", sans-serif;
    font-style: normal;
}



.tarjetas {  
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: center;
    columns: 2;
   
   
}



ul {
    align-content:center;
    width: 40%;
    list-style-type: none;
    margin: 40px;
    border-radius: 6px;
    overflow: hidden;
    background: transparent;
    font: 'Courier New', Courier, monospace;
    color: aliceblue;
    border: 2px linen #f7f7bf;
    text-align:left;
    background-color: rgb(0,0,0,0.5);
    gap: 32px;
    transition: transform 0.3s ease-in-out;
    
    
}
   
ul :hover{
    text-shadow: 0 0 10px #fff8;
}




   
